//html{font-size: 62.5% //16pixel *0.625 = 10 rem }
html{
    font-size: 62.5%; //1rem = 16px
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background: #333745;  // $dark-blue;
    font-size: 1.6rem;      //$m-size;
}